{% extends "../base/base.html" %}
{% block style %}
<style>
body{
  background: #343a40;
  color: #f8f9fa;
}
.form-control{
background-color: #f1f1f1;
}

</style>
{% endblock %}
{% load i18n %} {% load l10n %} {% load static %} {% load filename %}
{% block title %}
Upravit profil
{% endblock  %}
{% block content %}
{% localize off %}
    {% include "../base/flash_message.html" %}
    <div class="container mt-3">
      <h2 class="mt-2, pb-5"> {% if  create%}
      Registrace
      {% else %}
      Upravit profil <em>{{profile.name}}</em>
      {% endif %} </h2>
      <form action="./" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex flex-column flex-md-row gap-3 mb-3">
            <div class="form-floating col-12 col-md-4 flex-fill">
                
                <input
                type="text"
                class="form-control"
                id="recipientInput"
                name="name"
                placeholder="John Doe"
                {% if profile %} value="{{profile.name}}" {% endif %}
                />
                <label for="recipientInput" class='text-dark'>Jméno</label>
            </div>
            <div class="form-floating col-12 col-md-4 flex-fill">
                <input
                type="email"
                class="form-control"
                id="email"
                placeholder="john.doe@email.com"
                name="email"
                {% if profile %}value="{{profile.email}}" {% endif %}
                />
                <label for="email" class='text-dark'>Email</label>
            </div>
            <div class="form-floating col-12 col-md-4 flex-fill">
                <input
                type="text"
                class="form-control"
                id="web"
                placeholder="www.website.com"
                name="web"
                {% if profile %}
                    value="{{profile.web}}"
                {% endif %}
                />
                <label for="web" class='text-dark'>Web</label>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row gap-3 mb-3">
          <div class="col-12 col-md-6">
            <div class="form-floating flex-fill mb-3">
              <input
                type="street"
                class="form-control"
                id="street"
                name="street"
                placeholder="Street 22"
                {% if profile %}
                  value="{{profile.street}}"
                {% endif %}
              />
              <label for="street" class='text-dark'>Ulice</label>
            </div>
            <div class="form-floating flex-fill mb-3">
              <input
              type="text"
                class="form-control"
                id="town"
                name="town"
                placeholder="London"
                {% if profile %}
                  value="{{profile.town}}"
                {% endif %}
              />
              <label for="town" class='text-dark'>Město</label>
            </div>
            <div class="form-floating flex-fill">
              <input
                type="number"
                class="form-control"
                id="zipcode"
                placeholder="66666"
                name="zipcode"
                step="1"
                {% if profile %}
                  value="{{profile.zipcode}}"
                {% endif %}
                />
                
              <label for="zipcode" class='text-dark'>PSČ</label>
              
            </div>
          </div>
          <div class="col-12 col-lg-6 flex-fill">
            <div class="w-100 d-flex align-items-center justify-content-center mb-2">
            
              <img 
                src="{% static profile.logo.name|filename %}"
                alt="Vložte SVG logo." title="Vložte SVG logo." class="img-thumbnail mx-auto mt-3 border-secondary" 
                style='background:none' id="logo" width=180 height=150
                onerror="this.src='/static/ico/outline_add_white_48dp.png'"
                >
            
            </div>
            <div class="d-flex justify-content-center align-items-center w-75 mx-auto">
              <input type="file" id='logoInput' class="form-control" name='logo' oninput="getPreview('logoInput', 'logo')" accept=".svg" >
            </div>
          </div>
      </div>
        
        <div class="d-flex flex-column flex-md-row gap-3 mb-3">
          <div class="col-12 col-md-6">
              <div class="form-floating flex-fill mb-3">
                  <input
                  type="text"
                  class="form-control"
                  id="ic"
                  placeholder="123456789"
                  name="ic"
                  {% if profile %}
                    value="{{profile.ic}}"
                  {% endif %}
                  />
                  <label for="ic" class='text-dark'>IČ</label>
              </div>
              <div class="form-floating flex-fill mb-3">
                  <input
                  type="text"
                  class="form-control"
                  id="dic"
                  placeholder="XY123456789"
                  name="dic"
                  {% if profile.dic %}
                    value="{{profile.dic}}"
                  {% endif %}
                  />
                  <label for="dic" class='text-dark'>DIČ</label>
              </div>
              <div class="form-floating flex-fill mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="bank"
                  placeholder="xxxxxxxxx/xxxx"
                  name="bank"
                  {% if profile %}
                    value="{{profile.bank}}"
                  {% endif %}
                />
                <label for="bank" class='text-dark'>Bankovní účet</label>
              </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="col-12 input-group">
              <div class="w-100 d-flex align-items-center justify-content-center mb-2">
              
                <img 
                  src="{% static profile.sign.name|filename %}"
                  alt="Podpis" class="img-thumbnail mx-auto mt-3 border-secondary"
                  style='background:none' id="sign" width=180 height=150
                  onerror="this.src='/static/ico/outline_add_white_48dp.png'"
                  >
              
              </div>
              <div class="d-flex justify-content-center align-items-center w-75 mx-auto">
                <input type="file" id='signInput' class="form-control" name='sign' oninput="getPreview('signInput', 'sign')" accept=".png, .jpg">
              </div>
            </div>
          </div>
        </div>
        
        <hr>
            <div class="d-flex flex-column flex-md-row gap-3 mb-3">
                <div class="form-floating flex-fill col-12 col-lg-6">
                    <input
                        type="password"
                        class="form-control"
                        id="passwordInput"
                        name="password"
                        placeholder=' '
                    />
                    <label for="passwordInput" class='text-dark'>Heslo</label>
                </div>
                <div class="form-floating flex-fill col-12 col-lg-6">
                    <input
                        type="password"
                        class="form-control"
                        id="passwordConfirmInput"
                        placeholder=' '
                        name="password-confirm"
                    />
                    <label for="passwordInput" class='text-dark'>Potvrzení hesla</label>
                </div>
            </div>

        <div
          class="container-fluid d-flex w-75 align-items-center justify-content-around mt-3 gap-4 mb-3"
        >
        <a href="/" class="btn btn-lg btn-outline-light w-50"
            >Zpět</a
          >
          <input
            class="btn btn-lg btn-outline-success w-50"
            type="submit"
            ,
            value="Uložit"
          />
        </div>
      </form>
    </div>
    {% endlocalize %}
    {% block scripts %}
    <script src="{% static 'js/getPreview.js'%}"></script>
    {% endblock %}
{% endblock  %}


