{% extends "../base/base.html" %}
{% load i18n %} {% load l10n %} {% load static %} 
{% block title %}
Upravit profil
{% endblock  %}
{% block content %}
{% localize off %}
    <div class="container mt-3">
      <h2 class="mt-2, pb-5">Upravit profil <em>{{profile.name}}</em></h2>
      <form action="./" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-4">
                <label for="recipientInput">Jméno</label>
                <input
                type="text"
                class="form-control"
                id="recipientInput"
                name="name"
                placeholder="John Doe"
                value="{{profile.name}}"
                />
            </div>
            <div class="col-4">
                <label for="email">Email</label>
                <input
                type="email"
                class="form-control"
                id="email"
                placeholder=""
                name="email"
                value="{{profile.email}}"
                />
            </div>
            <div class="col-4">
                <label for="web">Web</label>
                <input
                type="text"
                class="form-control"
                id="web"
                placeholder=""
                name="web"
                {% if profile.web %}
                    value="{{profile.web}}"
                {% endif %}
                />
            </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="street">Ulice</label>
              <input
                type="street"
                class="form-control"
                id="street"
                name="street"
                placeholder="Street 22"
                value="{{profile.street}}"
              />
            </div>
            <div class="form-group">
              <label for="town">Město</label>
              <input
              type="text"
                class="form-control"
                id="town"
                name="town"
                placeholder="London"
                value="{{profile.town}}"
              ></input>
            </div>
            <div class="form-group">
              <label for="zipcode">PSČ</label>
              <input
                type="number"
                class="form-control"
                id="zipcode"
                placeholder="66666"
                name="zipcode"
                step="1"
                value="{{profile.zipcode}}"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="w-100 d-flex align-items-center justify-content-center">
              <img src="{% static profile.logo.name %}" alt="" class="img-thumbnail mx-auto mt-3" id="logo">
            </div>
            <div class="custom-file d-flex justify-content-center align-items-center w-100">
              
              <label for="logoInput" class="custom-file-label mt-3 w-50 mx-auto" >Logo</label>
              <input type="file" id='logoInput' class="custom-file-input" name='logo' oninput="document.getElementById('logo').src = window.URL.createObjectURL(this.files[0])">
            </div>
          </div>
      </div>
        
        <div class="form-group row">
            <div class="col-6">
                <label for="ic">IČ</label>
                <input
                type="text"
                class="form-control"
                id="ic"
                placeholder=""
                name="ic"
                value="{{profile.ic}}"
                />
            </div>
            <div class="col-6">
                <label for="ic">DIČ</label>
                <input
                type="text"
                class="form-control"
                id="dic"
                placeholder=""
                name="dic"
                {% if profile.dic %}
                value="{{profile.dic}}"
                {% endif %}
                />
            </div>
        </div>
        <div class="form-group">
            <label for="bank">Bankovní účet</label>
            <input
              type="text"
              class="form-control"
              id="bank"
              placeholder="xxxxxxxxx/xxxx"
              name="bank"
              value="{{profile.bank}}"
            />
        </div>
        <hr>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="passwordInput">Heslo</label>
                    <input
                        type="password"
                        class="form-control"
                        id="passwordInput"
                        name="password"
                    />
                </div>
            </div>
        </div>

        <div
          class="form-group d-flex w-100 align-items-center justify-content-center"
        >
        <a href="../../../invoices" class="btn btn-warning mt-5 mr-5 w-25"
            >Zpět na přehled faktur</a
          >
          <input
            class="btn btn-success mt-5 w-25"
            type="submit"
            ,
            value="Uložit"
          />
        </div>
      </form>
    </div>
    {% endlocalize %}
{% endblock  %}


