:root {
    --contextualMenuBg: #343a40;
    --contextualMenuShadow: 1px 1px 10px #000;
    --contextualMenuRadius: 3px;
    --contextualMenuText: #cccccc;

    --contextualSubMenuBg: rgb(27, 27, 28);

    --contextualHover: #868686;

    --contextualOverflowIcon: #999;
    --contextualSeperator: #999;
}