{% extends "../base/base.html" %}
{% load i18n %} {% load l10n %} {% load static %}{% load zipcode %}
  {% block style %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/contextual.theme.css' %}"/>
     <link rel="stylesheet" type="text/css" href="{% static 'css/contextual.css' %}"/>
     <link rel="stylesheet" type="text/css" href="{% static 'css/overview.css' %}"/>
     <script src="{% static 'js/contextual.js' %}"></script>
  {% endblock %}
  {% block title %} Invoice Factory - Odběratelé {% endblock %}
    
  {% block content %} 
    <div class="container d-flex justify-content-center">
    <div class="heading d-none d-print-block text-muted">
      {% localize off %}
      {{profile.name}}, {{profile.street}}, {{profile.zipcode|zipcode}} {{profile.town}}, IČ: {{profile.ic}}, {{profile.email}}, {{profile.web}}
      {% endlocalize %}

    </div>
      <nav
        class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between fixed-top px-5 py-3 my-0"
      >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-brand d-none d-lg-block d-print-none">
            <a href="/dash">
              <svg height="40" width="40" style=" fill: white; stroke:white;">
                {{logo|safe}}
              </svg>
            </a>
             
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" href="/invoices"
                >Faktury</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" href="/advance"
                >Zálohy</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active font-weight-bold" href="/recipient"
                >Odběratelé</a
              >
            </li>
            <li class="nav-item dropdown font-weight-bold">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nový
              </a>
              <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/invoices/create">Faktura</a>
                <a class="dropdown-item" href="/advance/create">Záloha</a>
                <a class="dropdown-item" href="/recipient/create">Odběratel</a>
              </div>
            </li>
            <li class="nav-item dropdown font-weight-bold">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fomuláře
              </a>
              <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" onclick=printPage(0,"invoice")> 
                    <img src="{% static 'ico/baseline_picture_as_pdf_black_18dp.png' %}" alt=""> Faktura
                </a> 
                <a class="dropdown-item" href="#" onclick=printPage(0,"advance")> 
                     <img src="{% static 'ico/baseline_picture_as_pdf_black_18dp.png' %}" alt=""> Záloha
                </a> 
              </div>
            </li>
            
          </ul>
          <ul class="navbar-nav">
            
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nastavení
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item disabled" href="#">{{profile.name}}</a>
                <div class="dropdown-divider"></div>
                <a class=" mx-2 dropdown-item" href="/users/edit/{{profile.id}}">Profil</a>
                <div class="mx-2 dropdown-item custom-control custom-checkbox">
                <form action="../mailcopy/" method='POST' id="mailcopy-form">{% csrf_token %}
                  <input
                  type="checkbox"
                  class="custom-control-input align-self-end "
                  id="mailcopy"
                  name="mailcopy"
                  {% if profile.mailcopy %}
                  value=true
                  checked
                  {% else %}
                  value=false
                  {% endif %}
                  />
                  <label for="mailcopy" class="custom-control-label align-self-start"
                  >Faktury e-mailem <img src="{% static 'ico/baseline_attach_email_black_18dp.png' %}" alt=""></label
                  >
                </form>
                </div>
                
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../logout">Odhlásit se</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div>
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} text-center w-50 mx-auto mt-5 fixed-top alert-dismissible fade show" role="alert">
            <p>{{ message }}</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      {% endfor %}
    </div>
    <div class="container-fluid d-flex justify-content-between align-items-center mt-5 overview" >
      <hr />
      <div class="w-75 d-flex justify-content-between align-items-center mt-5 overview" >
        <h2 class="d-none d-lg-block d-print-block">Odběratelé</h2>
        <form action="./" method="GET" id="year" class="d-print-none d-block">
          <select
            name="yr"
            onchange="yearSubmit()"
            class="form-control form-control-lg"
            id="yearSelect"
          >
            <option value="all">All</option>
            {% for year in years %} 
              {% ifequal year selected_year %}
                <option value="{{year}}" selected="selected">{{year}}</option>
              {% else %}
                <option value="{{year}}">{{year}}</option>
              {% endifequal %} 
            {% endfor %}
          </select>
        </form>
      </div>
      <hr />
    </div>
    <div class="container-fluid">
      <table class="table mt-2">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="text-align: center;">Jméno</th>
            <th
              scope="col"
              class="d-none d-lg-table-cell d-print-table-cell"
              style="text-align: center;"
            >
              Adresa
            </th>
            <th
              scope="col"
              class="d-none d-lg-table-cell d-print-table-cell"
              style="text-align: center;"
            >
              Faktury
            </th>
            <th
              scope="col"
              class="d-none d-lg-table-cell d-print-table-cell"
              style="text-align: center;"
            >
              Celkem přijato
            </th>
          </tr>
        </thead>

        <tbody class="">
          {% for recipient in recipients %}
          {% if recipient.invoices|length > 0 %}
          <tr id="{{ recipient.id }}" class="recipient-row" title='Klikněte pravým tlačítkem myši.'>
            {% localize off %}
            
            <td>
              <strong>{{ recipient.surname }} {{ recipient.name }}</strong>
              
            </td>
            
            <td class="d-none d-lg-table-cell d-print-table-cell" style="text-align: left;">
              {{recipient.street}}, {{recipient.zipcode|zipcode}}
                {{recipient.town }}
            </td>

            <td class="d-none d-lg-table-cell d-print-table-cell" style="text-align: center;">
                {{ recipient.invoices|length }}
            </td>
            {% endlocalize %}
            <td class="d-none d-lg-table-cell d-print-table-cell" style="text-align: center;">
              {{ recipient.total}} Kč 
            </td>
          </tr>
          <tr id="hidden-{{recipient.id}}" class='hidden'>
            <td colspan=4>
            {% for invoice in recipient.invoices %}
                <a href="/invoices/detail/{{invoice.pk}}" class = 'btn btn-outline-secondary mx-1 '> {{ invoice.iid|unlocalize }} </a>
                {% endfor %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock %}
    
    {% block scripts %}
    <script>
      // Submit select input after selection
      function yearSubmit() {
        dropdown = document.getElementById('year');
        dropdown.submit();
      }
    </script>
    <script>
    
    rows = document.getElementsByClassName("recipient-row");

    for (let row=0; row<rows.length; row++){
      rows[row].addEventListener('contextmenu', e => {
        (function(id){
            e.preventDefault();
            new Contextual({
                isSticky: false,
                items: [
                    {label: 'Nový', icon: "{% static 'ico/baseline_note_add_white_18dp.png' %}", onClick: () => {window.location.href='./create/'}},
                    {label: 'Upravit', icon: "{% static 'ico/baseline_build_white_18dp.png' %}", onClick: () => {window.location.href='./edit/'.concat(id)}},
  
                ]
                
            });
          })(rows[row].id);
        });
    }
    for (let row=0; row<rows.length; row++){
      rows[row].addEventListener('click', e => {
         (function(id){
          let hidden_row = document.getElementById(id);
          hidden_row.classList.toggle('open');
         })('hidden-'.concat(rows[row].id));
          });
    }
    </script>
    <script>
    window.addEventListener('load', checkRecipients());
    function checkRecipients(){
      const recipients = document.getElementsByClassName('recipient-row');
      if (recipients.length == 0){
        const table = document.getElementsByTagName('tbody');
        const emptyRow = table[0].insertRow();
        const emptyCell = emptyRow.insertCell();
        emptyCell.colSpan = 4;
        emptyCell.classList.add('text-center');
        emptyCell.innerText = "Žádné položky pro rok ".concat(document.getElementById('yearSelect').value, '.');
      }
      };
      
      function printPage(val, type){
        window.open('/print/?sign='+ val + '&asset='+ type)
      }
    </script>
    <script src="{% static 'js/mailCopy.js' %}"></script>
    {% endblock %}
    
    

