{% extends "../base/base.html" %}
{% load i18n %} {% load l10n %} {% load static %}{% load zipcode %}
  {% block style %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/overview.css' %}"/>
  {% endblock %}
  {% block title %} Invoice Factory - Odběratelé {% endblock %}
    
  {% block content %}
  {% include "../base/navbar.html" with type='recipient' %}   
    <div class="container d-flex justify-content-center">
    <div class="heading d-none d-print-block text-muted ">
      {% localize off %}
      {{profile.name}}, {{profile.street}}, {{profile.zipcode|zipcode}} {{profile.town}}, IČ: {{profile.ic}}, {{profile.email}}, {{profile.web}}
      {% endlocalize %}

    </div>
    </div>
    {% include "../base/flash_message.html" %}
    <div class="container-fluid d-flex justify-content-between align-items-center overview" >
      <hr />
      <div class="w-75 d-flex justify-content-between align-items-center mt-3 overview" >
        <h2 class="d-none d-lg-block d-print-block">Odběratelé</h2>
        <form action="./" method="GET" id="year" class="d-print-none d-block">
          <select
            name="yr"
            onchange="yearSubmit()"
            class="form-select form-select-lg"
            role="button"
            id="yearSelect"
          >
            <option value="all">Všichni</option>
            {% for year in years %} 
              {% ifequal year selected_year %}
                <option value="{{year}}" selected="selected">{{year}}</option>
              {% else %}
                <option value="{{year}}">{{year}}</option>
              {% endifequal %} 
            {% endfor %}
          </select>
        </form>
      </div>
      <hr />
    </div>
    <div class="container-fluid">
      <table class="table mt-2">
        <thead class="table-dark">
          <tr>
            <th scope="col" style="text-align: center;">Jméno</th>
            <th
              scope="col"
              class="d-none d-lg-table-cell d-print-table-cell"
              style="text-align: center;"
            >
              Adresa
            </th>
            <th
              scope="col"
              class="d-none d-lg-table-cell d-print-table-cell"
              style="text-align: center;"
            >
              Faktury
            </th>
            <th
              scope="col"
              class="d-none d-lg-table-cell d-print-table-cell"
              style="text-align: center;"
            >
              Celkem přijato
            </th>
          </tr>
        </thead>

        <tbody id="recipients">
          {% for recipient in recipients %}
          {% if recipient.invoices|length > 0 and selected_year != 'all'%}
          <tr id="{{ recipient.id }}" class="recipient-row" title='Klikněte levým tlačítkem myši - menu'>
            {% localize off %}
            
            <td>
              <strong>{{ recipient.surname }} {{ recipient.name }}</strong>
              
            </td>
            
            <td class="d-none d-lg-table-cell d-print-table-cell" style="text-align: left;">
              {{recipient.street}}, {{recipient.zipcode|zipcode}}
                {{recipient.town }}
            </td>

            <td class="d-none d-lg-table-cell d-print-table-cell" style="text-align: center;">
                {{ recipient.invoices|length }}
            </td>
            {% endlocalize %}
            <td class="d-none d-lg-table-cell d-print-table-cell" style="text-align: center;">
              {{ recipient.total}} Kč 
            </td>
          </tr>
          <tr id="hidden-{{recipient.id}}" class='hidden'>
            <td colspan=4>
            {% for invoice in recipient.invoices %}
                <a href="/invoices/detail/{{invoice.pk}}" class = 'btn btn-outline-secondary mx-1 '> {{ invoice.iid|unlocalize }} </a>
                {% endfor %}
            </td>
          </tr>
          {% elif selected_year == 'all'%}
          <tr id="{{ recipient.id }}" class="recipient-row" title='Klikněte pravým tlačítkem myši.'>
            {% localize off %}
            
            <td>
              <strong>{{ recipient.surname }} {{ recipient.name }}</strong>
              
            </td>
            
            <td class="d-none d-lg-table-cell d-print-table-cell" style="text-align: left;">
              {{recipient.street}}, {{recipient.zipcode|zipcode}}
                {{recipient.town }}
            </td>

            <td class="d-none d-lg-table-cell d-print-table-cell" style="text-align: center;">
                {{ recipient.invoices|length }}
            </td>
            {% endlocalize %}
            <td class="d-none d-lg-table-cell d-print-table-cell" style="text-align: center;">
              {{ recipient.total}} Kč 
            </td>
          </tr>
          <tr id="hidden-{{recipient.id}}" class='hidden'>
            <td colspan=4>
            {% for invoice in recipient.invoices %}
                <a href="/invoices/detail/{{invoice.pk}}" class = 'btn btn-outline-secondary mx-1 '> {{ invoice.iid|unlocalize }} </a>
                {% endfor %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="offcanvas offcanvas-start shadow-lg bg-dark text-light" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel" data-bs-backdrop="true" style='width:600px'>
      <div class="offcanvas-header border-bottom">
        <h5 id="offcanvasLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"  aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div id='offcanvas-address' class='mb-5'></div>
        <div id='offcanvasBody' class='mb-5'></div>
        <ul class="nav flex-column w-100 gap-2 offcanvas-ul">
          <li class="nav-item">
              <a class="btn btn-outline-light w-100" href="#" id='edit'>Upravit</a>
          </li>
        </ul>
      </div>
    </div>
    {% endblock %}
    
    {% block scripts %}
    <script>
      // Submit select input after selection
      function yearSubmit() {
        dropdown = document.getElementById('year');
        dropdown.submit();
      }
    </script>
    <script>
    
    table = document.querySelector("#recipients");
    table.addEventListener('click',e=>{
          e.preventDefault();
          e.stopPropagation();
          let recipient = e.target.closest('tr');
          if (recipient.nodeName=='TR'){
            let id = recipient.id;
            document.querySelector('#offcanvasLabel').innerText = recipient.children[0].innerText
            document.querySelector('#offcanvasBody').innerHTML = document.querySelector('#hidden-'+ id +'> td' ).innerHTML;
            document.querySelector('#offcanvas-address').innerHTML = recipient.children[1].innerHTML
            document.querySelector('#edit').href ='./edit/'.concat(id)

            var myOffcanvas = document.getElementById('offcanvas')
            var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas)
            bsOffcanvas.show()
          }
    });


    rows = document.getElementsByClassName("recipient-row");
    for (let row=0; row<rows.length; row++){
      window.addEventListener('beforeprint', e => {
         (function(id){
          let hidden_row = document.getElementById(id);
          hidden_row.classList.toggle('open');
         })('hidden-'.concat(rows[row].id));
          });
      window.addEventListener('afterprint', e => {
         (function(id){
          let hidden_row = document.getElementById(id);
          hidden_row.classList.toggle('open');
         })('hidden-'.concat(rows[row].id));
          });
    }
    </script>
    <script>
    window.addEventListener('load', checkRecipients());
    function checkRecipients(){
      const recipients = document.getElementsByClassName('recipient-row');
      if (recipients.length == 0){
        const table = document.getElementsByTagName('tbody');
        const emptyRow = table[0].insertRow();
        const emptyCell = emptyRow.insertCell();
        emptyCell.colSpan = 4;
        emptyCell.classList.add('text-center');
        emptyCell.innerText = "Žádné položky pro rok ".concat(document.getElementById('yearSelect').value, '.');
      }
      };
      
   
    </script>
    <script src= "{% static 'js/printPage.js' %}"></script>
    {% endblock %}
    
    

