{% extends "../base/base.html" %}
{% load i18n %} {% load l10n %} {% load static %}{% load zipcode %}
{% block style %}
<style>
body{
  background: #343a40;
  color: #f8f9fa;
}
.form-control{
background-color: #f1f1f1;
}

</style>
{% endblock %}

  {% block title %} Invoice Factory - Editovat odběratele {% endblock %}
  {% block content %}
  {% localize off %}
    <div class="container mt-3">
      <h2 class="mt-2, pb-5">Editovat odběratele <em>{{ recipient.name }}</em></h2>
      <form action="./" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="form" id="inlineRadio1" value="person" {% if recipient.form == "person" %} checked {% endif %} >
            <label class="form-check-label" for="inlineRadio1" >Fyzická osoba</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="form" id="inlineRadio2" value="company" {% if recipient.form == "company" %} checked {% endif %}>
            <label class="form-check-label" for="inlineRadio2">Firma</label>
          </div>
        </div>
        <div class="d-flex flex-column flex-md-row gap-3 mb-3">
     
          <div class='form-floating col-12 col-md-6 flex-fill' id="person">
            
            <input
              type="text"
              class="form-control"
              id="recipientInput"
              name="name"
              value="{{recipient.name}}"
              placeholder="John"
              
            />
            <label for="recipientInput" class='text-dark'>Jméno</label>
          </div>
          
            <div class='form-floating col-12 col-md-6 flex-fill' id="company">
              
              <input
                type="text"
                class="form-control"
                id="recipientSurname"
                name="surname"
                value="{{recipient.surname}}"
                required
              />
              <label for="recipientSurname" class='text-dark' id ="surname">Příjmení</label>
            </div>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="street"
            name="street"
            value="{{recipient.street}}"
          />
           <label for="street" class='text-dark'>Ulice a čp.</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="town"
            name="town"
            
            value="{{recipient.town}}"
          />
           <label for="town" class='text-dark'>Město</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="number"
            class="form-control"
            id="zipcode"
            
            name="zipcode"
            step="1"
            value="{{recipient.zipcode}}"
          />
          <label for="zipcode" class='text-dark'>PSČ</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="state"
            value="{{recipient.state}}"
            name="state"
          />
          <label for="state" class='text-dark'>Stát</label>
        </div>
        <div class="d-flex flex-column flex-md-row gap-3 mb-3">
          <div class="form-floating col-12 col-md-6 flex-fill">
            <input type="text" class="form-control" id="icInput" name="ic" value="{{recipient.ic|default_if_none:""}}"/>
            <label for="icInput" class='text-dark'>IČ</label>
          </div>
          <div class="form-floating col-12 col-md-6 flex-fill">
            <input type="text" class="form-control" id="dicInput" name="dic" value="{{recipient.dic|default_if_none:"" }}"/>
            <label for="dicInput" class='text-dark'>DIČ</label>
          </div>
        </div>

        <div
          class="d-flex align-items-center justify-content-center gap-2 gap-md-5 flex-column flex-md-row mt-3"
        >
          <a href="{{ref}}" class="btn btn-lg btn-outline-light w-50"
            >Zpět</a
          >
          <input
            class="btn btn-lg btn-outline-success w-50"
            type="submit"
            value="Uložit"
          />
        </div>
      </form>
    </div>
{% endlocalize %}
{% endblock %}
{% block scripts %}
<script>
let person = document.getElementById('inlineRadio1');
let company = document.getElementById('inlineRadio2');
company.addEventListener('change',()=>{
  if (company.checked){
    document.getElementById('person').classList.add('d-none');
    document.getElementById('surname').innerHTML = "Název";
    document.getElementById('company').classList.remove('col-lg-6');
    document.getElementById('company').classList.add('col-lg-12');

  }
  else{
    document.getElementById('person').classList.remove('d-none')
  }
 
})
person.addEventListener('change',()=>{
  if (person.checked){
    document.getElementById('person').classList.remove('d-none');
    document.getElementById('surname').innerHTML = "Příjmení";
    document.getElementById('company').classList.remove('col-lg-12');
    document.getElementById('company').classList.add('col-lg-6');
    
    
  }
  else{
    document.getElementById('person').classList.add('d-none')
    
  }
 
});
window.onload = function() {
  if (company.checked){
    document.getElementById('person').classList.add('d-none');
    document.getElementById('surname').innerHTML = "Název";
    document.getElementById('company').classList.remove('col-lg-6');
    document.getElementById('company').classList.add('col-lg-12');  
  }
};
</script>
{% endblock %}
