{% extends "../base/base.html" %}
{% load i18n %} {% load l10n %} {% load static %}{% load zipcode %}

  {% block title %} Invoice Factory - Editovat odběratele {% endblock %}
  {% block content %}
  {% localize off %}
    <div class="container mt-3">
      <h2 class="mt-2, pb-5">Editovat odběratele <em>{{ recipient.name }}</em></h2>
      <form action="./" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="recipientInput">Jméno</label>
          <input
            type="text"
            class="form-control"
            id="recipientInput"
            name="name" 
            value="{{recipient.name}}"
          />
        </div>
        <div class="form-group">
          <label for="street">Ulice a čp.</label>
          <input
            type="text"
            class="form-control"
            id="street"
            name="street"
            value="{{recipient.street}}"
          />
        </div>
        <div class="form-group">
          <label for="town">Město</label>
          <input
            type="text"
            class="form-control"
            id="town"
            name="town"
            
            value="{{recipient.town}}"
          />
        </div>
        <div class="form-group">
          <label for="zipcode">PSČ</label>
          <input
            type="number"
            class="form-control"
            id="zipcode"
            
            name="zipcode"
            step="1"
            value="{{recipient.zipcode}}"
          />
        </div>
        <div class="form-group row">
          <div class="col-6">
            <label for="icInput">IČ</label>
            <input type="text" class="form-control" id="icInput" name="ic" value="{{recipient.ic|default_if_none:""}}"/>
          </div>
          <div class="col-6">
            <label for="dicInput">DIČ</label>
            <input type="text" class="form-control" id="dicInput" name="dic" value="{{recipient.dic|default_if_none:"" }}"/>
          </div>
        </div>

        <div
          class="form-group d-flex w-100 align-items-center justify-content-center"
        >
          <input
            class="btn btn-success mt-5 w-25"
            type="submit"
            value="Uložit"
          />
        </div>
      </form>
    </div>
{% endlocalize %}
{% endblock %}
