{% load i18n %} {% load l10n %} {% load static %}
<!DOCTYPE html>
<html lang="cs-cz">
  <head>
    <meta charset="UTF-8" />
    {% block display %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}
    
    
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/print.css' %}"
      media="print"
    />
    {% block style %}
    {% endblock style %}
    <title>{% block title %} Title {% endblock %}</title>
  </head>
  <body>
    {% block content %}
    {% endblock %} 
    {% block scripts %}
    {% endblock %}
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script>
    let alerts = document.querySelectorAll('.alert')
    for (alert of alerts){
        var bsAlert = new bootstrap.Alert(alert)
        window.setTimeout(() => bsAlert.close(), 2000)
    }
    </script>
  </body>
</html>
