{% extends "../base/base.html" %}
{% load i18n %} {% load l10n %} {% load static %}
{% block display %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preload" href='{%static 'background/back.webp' %}' as="image">
{% endblock %}
{% block title %}Invoice Factory - Start{% endblock %}
{% block content %}
<div
  style="
    background: url('{%static 'background/back.webp' %}') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
  "
>
  <div class="container">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} text-center w-50 mx-auto" role="alert">
            <p>{{ message }}</p>
      </div>
    {% endfor %}
    
    <div class="p-2 p-md-5 mt-5 shadow text-white rounded" style='backdrop-filter: blur(15px); background: rgba(0,0,0,0.4)'>
      <h1 class="display-4">Invoice Factory</h1>
      <p class="lead">
        Vytvořte jednoduchou fakturu, mějte přehled o svých fakturách.
      </p>
      <hr class="my-4" />
      <p>
        {% if user.is_authenticated %} Vítejte zpět
        <em>{{ profile.name }}</em>. Pokračujte k Vašim fakturám. {% else %}
        Přihlašte se nebo se zaregistrujte {% endif %}
      </p>
      <p class="lead">
        {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg mt-3" href="/invoices/" role="button"
          >Pokračujte</a
        >
        {% else %}

        <a class="btn btn-primary btn-lg mt-3 disabled" href="/signup/" role="button"
          >Registrace</a
        >
        <button
          type="button"
          class="btn btn-success btn-lg mt-3 ml-3"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Přihlášení
        </button>

        {% endif %}
      </p>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark text-white-50">
        <div class="modal-header">
          <h5>Zadejte přihlašovací údaje</h5>
        </div>
        <div class="modal-body">
          <div class="container">
            <form action="login/" method="POST" id="login">
              {% csrf_token %}
              <div class="d-block">
                <div
                  class="username d-flex align-items-center justify-content-center"
                >
                  <div class="input-group w-75 mb-2">
                    <label for="user" class="d-block">Uživatelské jméno</label>
                    <input
                      type="text"
                      id="user"
                      name="username"
                      class="w-100 form-control"
                      required
                    />
                  </div>
                </div>
                <div
                  class="password d-flex align-items-center justify-content-center"
                >
                  <div class="input-group w-75">
                    <label for="pass" class="d-block">Heslo</label>
                    <input
                      type="password"
                      id="pass"
                      class="w-100 form-control"
                      name="password"
                      required
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Zavřít
          </button>
          <button type="submit" class="btn btn-success" form="login">
            Přihlásit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
