{% extends "../base/base.html" %}
{% load i18n %} {% load l10n %} {% load static %}
{% block style %}
  <style>
  body{
    background: #343a40;
    color: #f8f9fa;
  }
  .form-control{
  background-color: #f1f1f1;
  }

  </style>
{% endblock %}
    
{% block title %}
    Invoice Factory - Nová {% if type == 'invoice' %} faktura {% elif type == 'advance' %} záloha {% endif %}
{% endblock %} 

{% block content %}


    <div class="container mt-3">
      <h2 class="mt-2, pb-5">Nová {% if type == 'invoice' %} faktura {% elif type == 'advance' %} záloha {% endif %}</h2>
      <form action="./" method="POST">
        {% csrf_token %}
          <div class="w-100 d-flex align-items-center justify-content-between mb-3">
            <div class="form-floating w-100 pe-2">
              <select
                class="form-select"
                id="recipientInput"
                name="recipient"
                placeholder='Vyberte odběratele'
                required
              >
                <option disabled selected>Vyberte odběratele</option>
                {% for recipient in recipients %}
                <option value="{{recipient.id}}">
                  {{recipient}}
                </option>
                {% endfor %}
              </select>
              <label for="recipientInput" class='text-dark'>Odběratel</label>
            </div>
            <a
              class="btn btn-lg btn-primary me-1 d-flex align-items-center justify-content-center"
              href="../../recipient/create/"
              title="Přidat odběratele"
              ><img src="{% static  'ico/baseline_person_add_alt_1_white_24dp.png'%}" alt="Přidat odběratele"></a
            >
          </div>
        {% localize off %}
        <div class="form-floating mb-3">
          
          <input
            type="number"
            class="form-control"
            id="invoiceID"
            name="id"
            placeholder="20210001"
            value="{{ iid }}"
            required
          />
          <label for="invoiceID" class='text-dark'>ID</label>
        </div>
        {% endlocalize%}
        <div class="form-floating mb-3">
          
          <textarea
            class="form-control"
            id="descriptionTextarea"
            name="description"
            placeholder="Popis dodávky"
            style="height: 200px"
            required
          ></textarea>
        <label for="descriptionTextarea" class='text-dark'>Popis</label>
        </div>
        <div class="form-check">
          <label for="items">Rozpis položek</label>
          <input
            type="checkbox"
            class="form-check-input me-2"
            id="items"
            name="hasItems"
          />
          <div id="itemList" class="w-100 mx-auto"></div>
          <div
            id="addRow"
            class="mt-2 mb-2 justify-content-center w-100 d-flex"
          ></div>
        </div>
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between mb-3 gap-2">
          <div class="form-floating flex-fill w-100">
            
            <input
              type="number"
              class="form-control"
              id="amountInput"
              placeholder="1000"
              name="amount"
              step="1"
              value="{{invoice.amount|localize}}"
              required
            />
            <label for="amountInput" class='text-dark'>Částka</label>
          </div>
          <div class="form-floating flex-fill w-100">
            
            <select name="currency" id="currencyInput" class="form-select" >
            {% for rate in rates %}
              <option value='{{rate}}'>{{rate}}</option>
            {% endfor %}
            </select>
            <label for="currencyInput" class='text-dark'>Měna</label>
          </div>
          <div class="form-floating flex-fill w-100">
            <select name="payment" id="paymentInput" class="form-select" >
              <option value="bankovním převodem">bankovním převodem</option>
              <option value="hotově">hotově</option>
            </select>
            <label for="paymentInput" class='text-dark'>Způsob platby</label>
          </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-3 gap-2">
          <div class="form-floating flex-fill w-100">
            <input
              type="date"
              class="form-control"
              id="createdInput"
              name="created"
              value="{{ default_dates.created|date:'Y-m-d'}}"
              required
            />
            <label for="createdInput" class='text-dark'>Vystaveno</label>
         </div>
         <div class="form-floating flex-fill w-100">
            
            <input
              type="date"
              class="form-control"
              id="dueInput"
              name="due"
              value="{{ default_dates.due|date:'Y-m-d'}}"
              required
            />
            <label for="dueInput" class='text-dark'>Splatnost</label>
          </div>
          <div class="form-floating flex-fill w-100">  
             <input 
              type="date"
              class="form-control" id="paidInput" name="paid"
              value="{{invoice.paid|date:"Y-m-d"}}" />
              <label for="paidInput" class='text-dark'>Uhrazeno</label>
          </div>
        </div>
        {% if type == "faktura" and advances %}
        <div class="form-floating mb-5 w-100">
          <select
              class="form-select"
              id="advanceInput"
              name="advance"
              placeholder='Vyberte zálohu'
            >
              <option disabled selected>Vyberte zálohu</option>
              {% for advance in advances %}
              <option value="{{advance.id}}">
                {% localize off %}{{advance.iid}}{% endlocalize %}, {{advance.recipient.name}} {{advance.recipient.surname}}
              </option>
              {% endfor %}
            </select>
            <label for="advanceInput" class='text-dark'>Připojit zálohu</label>
          <div>
        {% endif %}

        <div
          class="container-fluid d-flex w-75 align-items-center justify-content-around mt-3 gap-4"
        >
          <a href="../" class="btn btn-outline-light mt-sm-1 mt-md-5 w-50 btn-lg"
            >Zpět</a
          >
          <input
            class="btn btn-outline-success mt-sm-1 mt-md-5 w-50 btn-lg"
            type="submit"
            value="Vystavit"
          />
        </div>
      </form>
    </div>
    {% endblock  %}
    {% block scripts %}
    <script src="{% static 'js/addInvoice.js'%}"></script>
    {% endblock  %}

