{% extends "../base/base.html" %}
{% load i18n %} {% load l10n %} {% load static %}{% load filename %}{% load zipcode %} {% load multiply %}{% load divide %}{% load subtract %}
    {% block display %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock %}

    
    {% block title %}
      {% localize off %}{% if type == 'invoice' %} Faktura {%endif%} {% if type == 'advance' %} Záloha {%endif%} č. {{invoice.iid}} {% endlocalize %}
    {% endblock %}
    
    {% block content %}
    {% localize off %}
    <div class="container mx-auto">
    {% include "../base/navbar.html" with type=type view='detail' fixed=True profile=user%} 
    {% include "../base/flash_message.html" %}
      <div class="mt-5 w-100 mb-0 px-2 pb-5 overflow-hidden shadow-lg" style='background-color:rgba(0, 100, 200, 0.15);'>
        <div class="container w-100 pt-5">
        <!-- title -->
          <h2 class="display-6">{% if type == 'invoice' %} Faktura {%endif%} {% if type == 'advance' %} Záloha {%endif%} č. {{invoice.iid}}</h2>
        <!-- title -->
          <hr class="my-4 w-100 mx-0" />
          <div class="row">
            <div class="col-2 d-flex justify-content-start">
              {% load static %}
              <img
                src="{% static user.logo.name|filename %}"
                alt=""
                style="max-width: 100%;"
              />
            </div>
            <div
              class="col-sm-10 col-lg-4 my-1"
            >
              <h5 class="text-center">Dodavatel:</h5>
              <p class="lead text-center">
                {{user.name}} <br />
                {{user.street}} <br />
                {{user.zipcode|zipcode}} {{user.town}}<br />
                {% if user.ic %}
                <br />
                IČ: {{user.ic}} <br />
                {% endif %} {% if user.dic %} DIČ: {{user.dic}}<br />
                {% endif %}
                <a href="mailto:{{user.email}}">{{user.email}}</a>
                {% if user.web %}
                <a href="{{user.web}}">{{user.web}}</a>
                {% endif %}
              </p>
            </div>

            <div class="col-sm-12 col-lg-6">
              <h5 class="text-center">Odběratel:</h5>
              <p class="lead text-center">
                {{invoice.recipient.name}} {{invoice.recipient.surname}}<br />
                {{invoice.recipient.street}} <br />
                {{invoice.recipient.zipcode|zipcode}} {{invoice.recipient.town}}<br />
                {% if invoice.recipient.state != 'Česká republika'%}
                {{invoice.recipient.state}}<br />
                {% endif %}
                {% if invoice.recipient.ic %}
                <br />
                IČ: {{invoice.recipient.ic}} <br />
                {% endif %} {% if invoice.recipient.dic %} DIČ:
                {{invoice.recipient.dic}} {% endif %}
              </p>
            </div>
          </div>
          <hr class="my-4 w-100" />
        </div>

        <div id="payment" class="row mx-auto">
          <div
            class="col-lg-6"
          >
            <h5>Bankovní spojení:</h5>
            <div class="row">
              <div class="col-5 col-lg-6">
                Číslo účtu: <br />
                {% if invoice.currency != 'CZK' %}IBAN: <br />{% endif %}
                Konstatní symbol: <br />
                Variabilní symbol: <br />
              </div>

              <div class="col-7 px-0 col-lg-6">
                <strong>{{user.bank}} </strong><br />
                {% if invoice.currency != 'CZK' %}<strong>{{iban}}</strong> <br />{% endif %}
                0308 <br />
                <strong>{{invoice.iid}}</strong>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6"
          >
            <br />
            <div class="row">
              <div class="col-6">
                Vystaveno:<br />
                Splatnost:<br />
                Způsob platby:<br />
              </div>
              <div class="col-6">
                {{invoice.date|date:"d. m. Y"}} <br />
                {{invoice.datedue|date:"d. m. Y"}} <br />
                {{invoice.payment}}
              </div>
            </div>
          </div>
        </div>
        {% endlocalize %}

        <div class="container w-100">
          <hr class="my-4" />
          <h5>Popis dodávky:</h5>
          <p>
            {{ invoice.description|linebreaksbr }}
          </p>
          {% if items %}
          <hr class="my-4 w-100" />
          <h5>Rozpis položek:</h5>
          <table class="table table-sm table-bordered w-100">
            <thead>
              <tr>
                <th
                  style="
                    font-weight: 500;
                    font-style: italic;
                    text-align: center;
                  "
                >
                  Položka
                </th>
                <th
                  style="
                    font-weight: 500;
                    font-style: italic;
                    text-align: center;
                  "
                >
                  Počet [ks]
                </th>
                <th
                  style="
                    font-weight: 500;
                    font-style: italic;
                    text-align: center;
                  "
                >
                  Cena [{% if invoice.currency == 'CZK' %}Kč{% else %}
                  {{invoice.currency}}
                  {% endif %}/ks]
                </th>
                <th
                  style="
                    font-weight: 500;
                    font-style: italic;
                    text-align: center;
                  "
                >
                  Celkem [{% if invoice.currency == 'CZK' %}Kč{% else %}
                  {{invoice.currency}}
                  {% endif %}]
                </th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
              <tr>
                <td>{{item.item_name}}</td>
                <td style="text-align: center;">{{item.num_items}}</td>
                <td style="text-align: right;">{{item.price_item}}</td>
                <td style="text-align: right;">{{item.price}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
        </div>

        <div class="container w-100">
          <hr class="my-4" />

          <div class="row">
            <div class="col-md-9 d-flex align-items-center text-center col-12">
              <h2 class="mt-5 mx-auto mx-md-5">
                Celkem k úhradě:
                <span>
                <span class="ml-lg-3 px-2 border border-dark d-flex d-md-inline mt-2 mt-sm-0"
                  >{{invoice.amount|floatformat:2}} 
                  {% if invoice.currency == 'CZK' %}
                  Kč
                  {% else %}
                  {{invoice.currency}}</span> 
                  <div class='h6 mt-3 ml-5 '>({{ invoice.amount |multiply:invoice.exchange_rate.rate|divide:invoice.exchange_rate.amount|floatformat:2 }} Kč; kurz ČNB k {{invoice.exchange_rate.date}}: {{invoice.exchange_rate.rate|floatformat:3}} Kč/{{invoice.exchange_rate.amount}} {{invoice.currency}})</div>
                  {% endif %}
                </span>
                  
              </h2>
            </div>
            <div class="col-lg-3 d-flex justify-content-center align-items-center">
              {% if invoice.payment == 'bankovním převodem' %} 
                             
                  {{svg}}
                
              {% endif %}
            </div>
             {% if advance %}
              <div class='row'>
                <div class="d-flex align-items-center">
                  <h5 class= 'ml-lg-3 px-2'>Již uhrazeno {{advance.amount|floatformat:2}} Kč. Zbývá uhradit <span class='border border-dark px-2'><strong>{{invoice.amount|subtract:advance.amount|floatformat:2}} Kč</strong>.</span></h5>
                </div>
              </div>
              {% endif %}
          </div>
        </div>

        <div class="w-100 d-flex mt-5">
          <span class="align-self-end d-none d-print-inline">
            <em> Nejsem plátce DPH.</em></span
          >
          <div
            class="w-50 text-center ml-auto mr-5 d-none d-print-block"
            id="stamp"
          >
            <img src={% static user.sign.name|filename %} alt="" class="w-50 pt-3
            mt-5 d-print-none" id="signature">
            <p
              class="w-50 pt-3 mt-5"
              style="border-top: 2px dotted rgba(0, 0, 0, 0.2);"
            >
              Razítko a podpis dodavatele
            </p>
          </div>
          
        
        
          <div id="footer" class="d-none d-print-block">
            <p>
              <em>Podnikatel je zapsán v živnostenském rejstříku MÚ Sušice.</em>
            </p>
          </div>
        </div>
      </div>
      
    </div>
      
    {% endblock  %}
    {% block scripts %}
   <script src= "{% static 'js/printPage.js' %}"></script>
    {% endblock  %}
