{% extends "../base/base.html" %}
{% load i18n %} {% load l10n %} {% load static %}{% load zipcode %}{% load multiply %}{% load divide %}
  {% block style %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/contextual.theme.css' %}"/>
     <link rel="stylesheet" type="text/css" href="{% static 'css/contextual.css' %}"/>
     <link rel="stylesheet" type="text/css" href="{% static 'css/overview.css' %}"/>
     <script src="{% static 'js/contextual.js' %}"></script>
  {% endblock style %}
 
  {% block title %} Invoice Factory - Přehled {% endblock %}
    
  {% block content %}
  {% include "../base/navbar.html" with type=type %}   
    <div class="container d-flex justify-content-center">
    <div class="heading d-none d-print-block text-muted pb-2 w-100 text-center">
      {% localize off %}
      {{profile.name}}, {{profile.street}}, {{profile.zipcode|zipcode}} {{profile.town}}, IČ: {{profile.ic}}, {{profile.email}}, {{profile.web}}
      {% endlocalize %}
      <hr>
    </div>
    </div>
    <div class="modal d-print-none" tabindex="-1" role="dialog" id="delete-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body" >
            <p id='delete-body'>Opravdu chcete odstranit fakturu?</p>
          </div>
          <div class="modal-footer">
          <form action="" method="POST" id="delete">{% csrf_token %}
          </form>
            <button type="submit" class="btn btn-primary btn-danger" id='delete-invoice'>Ano</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zpět</button>
          </div>
        </div>
      </div>
    </div>
    {% include "../base/flash_message.html" %}
    <div class="container-fluid d-flex justify-content-between align-items-center overview"> 
      <hr />
      
      <div class="w-75 d-flex justify-content-between align-items-center mt-5 overview" >
        <h2 class="d-none d-lg-block d-print-block">
          {% if type == 'faktura'%}
              Přehled faktur
          {% else %}
              Přehled záloh
          {% endif %}
        </h2>
        <form action="./" method="GET" id="year" class="d-print-none">
          <select
            name="yr"
            onchange="yearSubmit()"
            class="form-control form-control-lg"
            id="yearSelect"
          >
            <option value="all">Všechny</option>
            {% for year in years %} 
              {% ifequal year selected_year %}
                <option value="{{year}}" selected="selected">{{year}}</option>
              {% else %}
                <option value="{{year}}">{{year}}</option>
              {% endifequal %} 
            {% endfor %}
          </select>
        </form>
        <div id="yearSpan" class="d-none d-print-block"></div>

        <h5><span class="d-none d-lg-inline d-print-inline"> Součet:</span> {{total|floatformat:0}} Kč</h5>
      </div>
      <hr />
    </div>
    <div class="container-fluid">
      <table class="table mt-2">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="text-align: center;" >
              <input id='show_all' class="d-print-none" type="checkbox" title="Rozbalit vše"></input>
              <span class='d-none d-print-inline-block'>#</span>
            </th>
            <th scope="col" style="text-align: center;">Odběratel</th>
            <th
              scope="col"
              class=""
              style="text-align: center;"
            >
              Částka
            </th>
            <th
              scope="col"
              class="d-none d-lg-table-cell d-print-table-cell"
              style="text-align: center;"
            >
              Splatnost
            </th>
            <th scope="col"
              class="d-none d-lg-table-cell d-print-table-cell"
              style="text-align: center;">
              Uhrazeno
            </th>
          </tr>
        </thead>

        <tbody id="invoices">
          {% if invoices|length == 0 %}
          <tr>
            <td colspan=5 class='text-center'>
            Žádné položky pro rok {{ selected_year }}.
            </td>
          </tr>
          {% endif %}
          {% for invoice in invoices %}
          <tr id="{{ invoice.id }}" class="invoice" title='Klikněte pravým tlačítkem myši.'>
            {% localize off %}
            <td scope="row" style="text-align: center;">
              {{ invoice.iid }}
            </td>

            <td>
              <strong>{{ invoice.recipient.surname}} {{ invoice.recipient.name }}</strong
              ><span class="d-none d-lg-inline d-print-inline"
                >, {{invoice.recipient.street}}, {{invoice.recipient.zipcode|zipcode}}
                {{invoice.recipient.town }}</span
              >
            </td>
            {% endlocalize %}
            <td class="" style="text-align: right;">
              <strong>{{ invoice.amount|floatformat:2 }} {% if invoice.currency == 'CZK' %}Kč{% else %}
                  {{invoice.currency}}</strong>
                  {% endif %}
            </td>

            <td class="d-none d-lg-table-cell d-print-table-cell" style="text-align: center;">
              {{ invoice.datedue|date:"d. m. Y"}}
            </td>

            <td class="d-none d-lg-table-cell d-print-table-cell" style="text-align: center;">
              {{ invoice.paid|date:"d. m. Y"}}
            </td>
          </tr>
          <tr id="hidden-{{invoice.id}}" class='hidden'>
            <td colspan=5>
                <ul>
                  <li><strong>Vytvořeno:</strong> <em>{{ invoice.date|date:"d. m. Y"}}</em></li>
                  <li><strong>Popis</strong>: <em>{{invoice.description}}</em></li>
                  <li><strong>Platba</strong>: <em>{{invoice.payment}}</em></li>
                  {% if invoice.paid and invoice.currency != 'CZK' %}
                    <li><em>Pozn. {{ invoice.amount |multiply:invoice.paid_exchange_rate.rate|divide:invoice.paid_exchange_rate.amount|floatformat:2 }} Kč; kurz ČNB k {{invoice.paid_exchange_rate.date}}: {{invoice.paid_exchange_rate.rate|floatformat:3}} Kč/{{invoice.paid_exchange_rate.amount}} {{invoice.currency}}</em></li>
                  {% elif invoice.currency != 'CZK' %}
                    <li><em>Pozn. {{ invoice.amount |multiply:invoice.exchange_rate.rate|divide:invoice.exchange_rate.amount|floatformat:2 }} Kč; kurz ČNB k {{invoice.exchange_rate.date}}: {{invoice.exchange_rate.rate|floatformat:3}} Kč/{{invoice.exchange_rate.amount}} {{invoice.currency}}</em></li>
                  {% endif %}
                </ul>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock %}
    
    {% block scripts %}
    
    <script>
      // Submit select input after selection
      function yearSubmit() {
        dropdown = document.getElementById('year');
        dropdown.submit();
      }
      // set year in the span for printed output
      yearSpan = document.getElementById('yearSpan');
      yearSelect = document.getElementById('yearSelect');
      yearSpan.innerHTML = '<h3>' + yearSelect.value + '</h3>';

    </script>
    <script>
    
    rows = document.getElementsByClassName("invoice");
    function deleteInvoice(id){
      let form = document.getElementById('delete');
      form.action = './delete/'.concat(id,'/');

    }
    btnDel = document.getElementById('delete-invoice');
    btnDel.addEventListener('click',()=>{
      document.getElementById('delete').submit();
    })
    for (let row=0; row<rows.length; row++){
      rows[row].addEventListener('contextmenu', e => {
        (function(id){
            e.preventDefault();
            new Contextual({
                isSticky: false,
                items: [
                    {label: 'Nová', icon: "{% static 'ico/baseline_note_add_white_18dp.png' %}", onClick: () => {window.location.href='./create/'}},
                    {label: 'Zobrazit', icon: "{% static 'ico/baseline_search_white_18dp.png' %}", onClick: () => {window.location.href='./detail/'.concat(id)}},
                    {label: 'Upravit', icon: "{% static 'ico/baseline_build_white_18dp.png' %}", onClick: () => {window.location.href='./edit/'.concat(id)}},
                    {label: 'Odstranit', icon: "{% static 'ico/baseline_delete_forever_white_18dp.png' %}", onClick: () => {deleteInvoice(id);$('#delete-modal').modal('show');}},
                    {type: 'seperator'},
                    {label: 'PDF', icon: "{% static 'ico/baseline_print_white_18dp.png' %}", onClick: () => {window.open('/invoices/print/'.concat(id,'/?sign=0', '&asset=', "{{type}}"))}},
                    {label: 'PDF s podpisem', icon: "{% static 'ico/baseline_print_white_18dp.png' %}", onClick: () => {window.open('/invoices/print/'.concat(id,'/?sign=1', '&asset=', "{{type}}"))}},
                    
                ]
                
            });
          })(rows[row].id);
        });
    }
    for (let row=0; row<rows.length; row++){
      rows[row].addEventListener('click', e => {
         (function(id){
          let hidden_row = document.getElementById(id);
          hidden_row.classList.toggle('open');
         })('hidden-'.concat(rows[row].id));
          });
    }
    </script>
    <script>
      let showAll = document.getElementById('show_all');
      showAll.addEventListener('change', e => {
        let invoices = document.getElementsByClassName('hidden');
        for (invoice of invoices){
          invoice.classList.toggle('open');
        }
      });
      function printPage(val, type){
        window.open('/print/?sign='+ val + '&asset='+ type)
      }
    </script>
    <script src="{% static 'js/mailCopy.js' %}"></script>
    {% endblock %}

