{% extends "../base/base.html" %}
{% load i18n %} {% load l10n %} {% load static %}{% load zipcode %}{% load multiply %}{% load divide %}
  {% block style %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/overview.css' %}"/>
  {% endblock style %}
 
  {% block title %} Invoice Factory - Přehled {% endblock %}
    
  {% block content %}
  {% include "../base/navbar.html" with type=type %}   
    <div class="container-fluid d-flex justify-content-center">
      <div class="heading d-none d-print-block text-muted pb-2 mb-2 w-100 text-center border-bottom">
        {% localize off %}
        {{profile.name}}, {{profile.street}}, {{profile.zipcode|zipcode}} {{profile.town}}, IČ: {{profile.ic}}, {{profile.email}}, {{profile.web}}
        {% endlocalize %}
      </div>
    </div>
    <div class="modal fade d-print-none" id="delete-modal" data-bs-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body" >
            <p id='delete-body'>Opravdu chcete odstranit fakturu?</p>
          </div>
          <div class="modal-footer">
          <form action="" method="POST" id="delete">{% csrf_token %}
          </form>
            <button type="submit" class="btn btn-primary btn-danger" id='delete-invoice' form="delete">Ano</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zpět</button>
          </div>
        </div>
      </div>
    </div>
    {% include "../base/flash_message.html" %}
    <div class="container-fluid d-flex justify-content-between align-items-center overview"> 
      <hr />
      
      <div class="w-75 d-flex justify-content-between align-items-center mt-3 overview" >
        <h2 class="d-none d-lg-block d-print-block">
          {% if type == 'faktura'%}
              Přehled faktur
          {% else %}
              Přehled záloh
          {% endif %}
        </h2>
        <form action="./" method="GET" id="year" class="d-print-none">
          <select
            name="yr"
            onchange="yearSubmit()"
            class="form-select form-select-lg"
            role="button"
            id="yearSelect"
          >
            <option value="all">Všechny</option>
            {% for year in years %} 
              {% if year == selected_year %}
                <option value="{{year}}" selected="selected">{{year}}</option>
              {% else %}
                <option value="{{year}}">{{year}}</option>
              {% endif %} 
            {% endfor %}
          </select>
        </form>
        <div id="yearSpan" class="d-none d-print-block"></div>

        <h5><span class="d-none d-lg-inline d-print-inline"> Součet:</span> {{total|floatformat:0}} Kč</h5>
      </div>
      <hr />
    </div>
    <div class="container-fluid">
      <table class="table mt-2">
        <thead class="table-dark" id='thead'>
          <tr>
            <th scope="col" style="text-align: center;" >
              <!--<input id='show_all' class="d-print-none" type="checkbox" title="Rozbalit vše"></input>-->
              <span class='d-inline-block'>#</span>
            </th>
            <th scope="col" style="text-align: center;">Odběratel</th>
            <th
              scope="col"
              class=""
              style="text-align: center;"
            >
              Částka
            </th>
            <th
              scope="col"
              class="d-none d-lg-table-cell d-print-table-cell"
              style="text-align: center;"
            >
              Splatnost
            </th>
            <th scope="col"
              class="d-none d-lg-table-cell d-print-table-cell"
              style="text-align: center;">
              Uhrazeno
            </th>
          </tr>
        </thead>

        <tbody id="invoices">
          {% if invoices|length == 0 %}
          <tr>
            <td colspan=5 class='text-center'>
            Žádné položky pro rok {{ selected_year }}.
            </td>
          </tr>
          {% endif %}
          {% for invoice in invoices %}
          <tr id="{{ invoice.id }}" class="invoice" title='Klikněte levým tlačítkem myši - menu'>
            {% localize off %}
            <td scope="row" style="text-align: center;">
              {{ invoice.iid }}
            </td>

            <td>
              <strong>{{ invoice.recipient.surname}} {{ invoice.recipient.name }}</strong
              ><span class="d-none d-lg-inline d-print-inline"
                >, {{invoice.recipient.street}}, {{invoice.recipient.zipcode|zipcode}}
                {{invoice.recipient.town }}</span
              >
            </td>
            {% endlocalize %}
            <td class="" style="text-align: right;">
              <strong>{{ invoice.amount|floatformat:2 }} {% if invoice.currency == 'CZK' %}Kč{% else %}
                  {{invoice.currency}}</strong>
                  {% endif %}
            </td>

            <td class="d-none d-lg-table-cell d-print-table-cell" style="text-align: center;">
              {{ invoice.datedue|date:"d. m. Y"}}
            </td>

            <td class="d-none d-lg-table-cell d-print-table-cell" style="text-align: center;">
              {{ invoice.paid|date:"d. m. Y"}}
            </td>
          </tr>
          <tr id="hidden-{{invoice.id}}" class='hidden'>
            <td colspan=5>
                <ul>
                  <li><strong>Vytvořeno:</strong> <em>{{ invoice.date|date:"d. m. Y"}}</em></li>
                  <li><strong>Popis</strong>: <em>{{invoice.description}}</em></li>
                  <li><strong>Platba</strong>: <em>{{invoice.payment}}</em></li>
                  {% if invoice.paid and invoice.currency != 'CZK' %}
                    <li><em>Pozn. {{ invoice.amount |multiply:invoice.paid_exchange_rate.rate|divide:invoice.paid_exchange_rate.amount|floatformat:2 }} Kč; kurz ČNB k {{invoice.paid_exchange_rate.date}}: {{invoice.paid_exchange_rate.rate|floatformat:3}} Kč/{{invoice.paid_exchange_rate.amount}} {{invoice.currency}}</em></li>
                  {% elif invoice.currency != 'CZK' %}
                    <li><em>Pozn. {{ invoice.amount |multiply:invoice.exchange_rate.rate|divide:invoice.exchange_rate.amount|floatformat:2 }} Kč; kurz ČNB k {{invoice.exchange_rate.date}}: {{invoice.exchange_rate.rate|floatformat:3}} Kč/{{invoice.exchange_rate.amount}} {{invoice.currency}}</em></li>
                  {% endif %}
                </ul>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="offcanvas offcanvas-start shadow-lg bg-dark text-light" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel" data-bs-backdrop="true" style='width:600px'>
      <div class="offcanvas-header border-bottom">
        <h5 id="offcanvasLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"  aria-label="Close"></button>
      </div>
      <div class="offcanvas-body" id='offcanvas-recipient'>
      
      </div>
      <div class="offcanvas-body" id='offcanvasBody'>
      </div>
      <ul class="offcanvas-body nav flex-column w-100 gap-2">
        <li class="nav-item">
          <a class="btn btn-outline-light w-100" aria-current="page" href="#" id='view'>Náhled</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light w-100" href="#" id='edit'>Upravit</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-danger w-100" id='remove'>Odstranit</button>
        </li>
        <hr>
        <li class="nav-item">
          <a class="btn btn-outline-light w-100" href="#" id='pdf' onClick='dimPage()'>PDF</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light w-100" href="#" id='pdf-sign'  onClick='dimPage()'>PDF s podpisem</a>
        </li>
      </ul>
    </div>
    {% endblock %}
    
    {% block scripts %}
    <script>
    
    function deleteInvoice(invoiceId){
      let form = document.querySelector('#delete');
      form.action = './delete/'.concat(invoiceId,'/');
    }

    let modal =  new bootstrap.Modal(document.getElementById('delete-modal'))

    table = document.querySelector("#invoices");
    table.addEventListener('click',e=>{
          e.preventDefault();
          e.stopPropagation();
          let invoice = e.target.closest('tr');
          if (invoice.nodeName=='TR'){
            let id = invoice.id;
            document.querySelector('#offcanvasLabel').innerText = "{{type|capfirst}} " + invoice.children[0].innerText
            document.querySelector('#offcanvasBody').innerHTML = document.querySelector('#hidden-'+ id +'> td' ).innerHTML;
            document.querySelector('#offcanvas-recipient').innerHTML = `${invoice.children[1].innerHTML}  <div class='display-6 text-center mt-3'>${invoice.children[2].innerHTML}</div>`
            document.querySelector('#offcanvasBody > ul').classList.add('list-group', 'list-group-flush', 'offcanvas-ul')
            document.querySelector('#view').href = './detail/'.concat(id)
            document.querySelector('#edit').href ='./edit/'.concat(id)
            document.querySelector('#remove').addEventListener('click', (ev) => {ev.preventDefault(); deleteInvoice(id); modal.show();})
            document.querySelector('#pdf').href ='/invoices/print/'.concat(id,'/?sign=0', '&asset=', "{{type}}")
            document.querySelector('#pdf-sign').href = '/invoices/print/'.concat(id,'/?sign=1', '&asset=', "{{type}}")
            var myOffcanvas = document.getElementById('offcanvas')
            var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas)
            bsOffcanvas.show()
          }
    });
    
    
    </script>
    <script>
      // Submit select input after selection
      function yearSubmit() {
        dropdown = document.getElementById('year');
        dropdown.submit();
      }
      // set year in the span for printed output
      yearSpan = document.getElementById('yearSpan');
      yearSelect = document.getElementById('yearSelect');
      yearSpan.innerHTML = '<h3>' + yearSelect.value + '</h3>';

    </script>
    <script>
    let rows = document.querySelectorAll('.invoice')
    for (let row=0; row<rows.length; row++){
      window.addEventListener('beforeprint', e => {
         (function(id){
          let hidden_row = document.getElementById(id);
          hidden_row.classList.toggle('open');
         })('hidden-'.concat(rows[row].id));
          });
      window.addEventListener('afterprint', e => {
         (function(id){
          let hidden_row = document.getElementById(id);
          hidden_row.classList.toggle('open');
         })('hidden-'.concat(rows[row].id));
          });
    }
    </script>
 
    <script src= "{% static 'js/printPage.js' %}"></script>
    {% endblock %}

