{% extends "../base/base.html" %}
{% load i18n %} {% load l10n %} {% load static %} 
{% block title %}
  {% localize off %}
  Upravit fakturu č. {{invoice.iid}}
  {% endlocalize %}
{% endblock  %}

{% block content %}
    {% localize off %}
    <div class="container mt-3 mx-auto">
      <h2 class="mt-2, pb-5">Upravit fakturu č. {{invoice.iid}}</h2>
      <form action="./" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="recipientInput">Odběratel</label>
          <div class="d-flex flex-row w-100 align-items-center">
            <input
              type="text"
              class="form-control"
              id="recipientInput"
              name="recipient"
              value="{{invoice.recipient}}"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="invoiceID">ID</label>
          <input
            type="number"
            class="form-control"
            id="invoiceID"
            name="id"
            value="{{ invoice.iid }}"
          />
        </div>
        <div class="form-group">
          <label for="descriptionTextarea">Popis</label>
          <textarea
            class="form-control"
            id="descriptionTextarea"
            rows="7"
            name="description"
          >{{invoice.description}}
          </textarea>
        </div>
        <div class="form-group">
          <label for="items">Rozpis položek</label>
          <input type="checkbox" class="form-check-input ml-2" id="items"
          name="hasItems" 
          {% if invoice.has_items == True %} checked=true 
          {% else %} 
          checked=false 
          {% endif %} />
          <div id="itemList" class="w-100 justify-content-around"></div>
          <div
            id="addRow"
            class="mt-2 mb-2 justify-content-center w-100 d-flex"
          ></div>
        </div>
        <div class="form-group d-flex">
          <div class="mr-2 w-50">
            <label for="amountInput">Částka</label>
            <input
              type="number"
              class="form-control"
              id="amountInput"
              placeholder="1000"
              name="amount"
              step="1"
              value="{{invoice.amount}}"
            />
          </div>
          <div class="form-group ml-2 w-50">
            <label for="paymentInput">Způsob platby</label>
            <select name="payment" id="paymentInput" class="form-control">
              <option
                value="bankovním převodem"
                {% ifequal invoice.payment "bankovním převodem" %}
                selected="selected"
                {% endifequal %}
                >bankovním převodem</option
              >
              <option
                value="hotově"
                {% ifequal invoice.payment "hotově" %}
                selected="selected"
                {% endifequal %}
                >hotově</option
              >
            </select>
          </div>
        </div>
        <div class="form-inline mt-3 mb-3 w-100 d-flex justify-content-between">
          <label for="createdInput">Vystaveno</label>
          <input type="date" class="form-control" id="createdInput"
          name="created" value="{{invoice.date|date:"Y-m-d"}}" />
          <label for="dueInput">Splatnost</label>
          <input type="date" class="form-control" id="dueInput" name="due"
          value="{{invoice.datedue|date:"Y-m-d"}}" />
        </div>

        <div
          class="form-group d-flex w-100 align-items-center justify-content-center"
        >
          <a href="../../" class="btn btn-warning mt-5 mr-5 w-25"
            >Zpět na přehled</a
          >
          <input
            class="btn btn-success mt-5 w-25"
            type="submit"
            ,
            value="Uložit"
          />
        </div>
        
      </form>
      
    </div>
    {% endlocalize %}
    {% endblock  %}
    {% block scripts %}
      <script>
        itemsToggle = document.getElementById('items');
        itemsToggle.addEventListener('change', myfun);

        function myfun(e) {
          b = 1;
          rowidx = 0;
          if (document.getElementById('btnAddRow') != null) {
            b = 0;
            rows = document.getElementsByClassName('invoiceItems');
            rowidx = rows.length - 1 + 1;
          }
          if (itemsToggle.checked) {
            var r = document.getElementById('itemList');
            var row = document.createElement('div');
            row.classList.add('w-100', 'row', 'mt-2', 'invoiceItems');
            var col1 = document.createElement('div');
            col1.classList.add('col-3');
            var col2 = document.createElement('div');
            col2.classList.add('col-3');
            var col3 = document.createElement('div');
            col3.classList.add('col-3');
            var col4 = document.createElement('div');
            col4.classList.add('col-3');

            r.appendChild(row);
            row.appendChild(col1);
            row.appendChild(col2);
            row.appendChild(col3);
            row.appendChild(col4);

            var name = document.createElement('input');
            name.classList.add('form-control');
            name.setAttribute('type', 'text');
            name.setAttribute('name', 'items' + rowidx.toString() + '[]');
            name.setAttribute('placeholder', 'název');
            name.id = 'name' + rowidx.toString();
            var pcs = document.createElement('input');
            pcs.setAttribute('type', 'number');
            pcs.setAttribute('name', 'items' + rowidx.toString() + '[]');
            pcs.setAttribute('placeholder', 'ks');
            pcs.setAttribute('oninput', 'itemUpdate()');
            pcs.classList.add('form-control');
            pcs.id = 'pcs' + rowidx.toString();
            var price_pcs = document.createElement('input');
            price_pcs.setAttribute('type', 'number');
            price_pcs.setAttribute('name', 'items' + rowidx.toString() + '[]');
            price_pcs.setAttribute('placeholder', 'Kč/ks');
            price_pcs.setAttribute('step', '0.01');
            price_pcs.setAttribute('oninput', 'itemUpdate()');
            price_pcs.classList.add('form-control');
            price_pcs.id = 'price_pcs' + rowidx.toString();
            var total = document.createElement('input');
            total.setAttribute('type', 'number');
            total.setAttribute('name', 'items' + rowidx.toString() + '[]');
            total.setAttribute('placeholder', 'celkem');
            total.setAttribute('step', '0.01');
            total.classList.add('form-control');
            total.id = 'total' + rowidx.toString();

            col1.appendChild(name);
            col2.appendChild(pcs);
            col3.appendChild(price_pcs);
            col4.appendChild(total);

            document
              .getElementById('pcs' + rowidx.toString())
              .addEventListener('input', function () {
                var ppcs = document.getElementById('price_pcs' + rowidx.toString())
                  .value;

                document.getElementById('total' + rowidx.toString()).value =
                  this.value * ppcs;
              });

            document
              .getElementById('price_pcs' + rowidx.toString())
              .addEventListener('input', function () {
                var ppcs = document.getElementById('pcs' + rowidx.toString()).value;

                document.getElementById('total' + rowidx.toString()).value =
                  this.value * ppcs;
              });

            if (b == 1) {
              btnroot = document.getElementById('addRow');
              var btn = document.createElement('input');
              btn.id = 'btnAddRow';
              btn.setAttribute('type', 'button');
              btn.setAttribute('value', '+');
              btn.setAttribute('title', 'Přidat řádek');
              btn.setAttribute('onclick', 'myfun()');
              btn.classList.add('btn', 'btn-success');
              btnroot.appendChild(btn);
            }
          } else {
            var r = document.getElementById('itemList');
            r.innerHTML = '';
            btnroot = document.getElementById('addRow');
            btnroot.innerHTML = '';
          }
        }

        function getItems() {
          var check = '{{ invoice.has_items }}';

          if (check == 'True') {
            console.log(check);
            var i = 0;
            var e = new Event('change');
            ('{% for item in items  %}');
            itemsToggle.dispatchEvent(e);
            itemName = document.getElementById('name' + i.toString());
            pcs = document.getElementById('pcs' + i.toString());
            price_pcs = document.getElementById('price_pcs' + i.toString());
            total = document.getElementById('total' + i.toString());

            itemName.setAttribute('value', '{{ item.item_name }}');
            pcs.setAttribute('value', '{{ item.num_items }}');
            price_pcs.setAttribute('value', "{{ item.price_item|stringformat:'d'}}");
            total.setAttribute('value', "{{ item.price|stringformat:'d'}}");
            i = i + 1;
            ('{% endfor %}');
          }
        }
        getItems();

        function itemUpdate(e) {
          itemlist = document.getElementById('itemList').getElementsByClassName('row');
          price = document.getElementById('amountInput');
          s = [];
          Array.from(itemlist).forEach(function (e) {
            ch = e.getElementsByTagName('input');
            ch[3].value = ch[1].value * ch[2].value;
            s.push(Number(ch[3].value));
          });
          const reducer = (accumulator, currentValue) => accumulator + currentValue;
          price.value = s.reduce(reducer);
        }

      </script>
    {% endblock  %}
  </body>
</html>
