{% extends "../base/base.html" %}
{% load static %}{% load custom_truncate %} {% load l10n %}

{% block style %}
<link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/dash.css' %}"
    />
{% endblock %}

{% block title %}
    Invoice Factory
{% endblock %}

{% block content %}
{% include "../base/navbar.html" %}
{% include "../base/flash_message.html" %}
<div class="container-fluid justify-content-center">
  <div class="row d-flex justify-content-around mt-3">
      <div class='history col-md-8 col-sm-12 '> 
          <ul class='last'>
              <h6>Poslední faktury</h6>
              {% for invoice in data|slice:":3" %}
                <li class='d-flex align-items-center '>
                      <a href="/invoices/detail/{{invoice.id}}" class='w-100'><div class="d-sm-block d-lg-inline"><strong>{{ invoice.iid|unlocalize }}</strong></div> <div class="d-sm-block d-lg-inline">{{ invoice.recipient.surname }} {{ invoice.recipient.name }} </div> <em class="text-secondary">{{ invoice.description|custom_truncate:10 }}</em> <div class="d-sm-block d-flex float-right">{{ invoice.amount }} {{ invoice.currency }}</div></a>
                </li>
              {% endfor %}
          </ul>
      </div>
      <div class='history col-md-3 col-sm-12 d-flex justify-content-center align-items-center'>
          <div class='pt-3'>
              <h6 class="w-100">Průběžný součet {% now "Y" %}</h6>
              <h2 class="display-6 text-center w-100">{{total}} Kč</h2>
          </div> 
      </div>
  </div>
  <div class="row justify-content-around ">
    <div id="chart-container" class="col-md-8 col-sm-12 ">
      <canvas id="myChart" class=""></canvas>
    </div>
    <div  class="col-md-3 col-sm-12 ml-2">
    
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script>
function getRandomColor() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++ ) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }


var ctx = document.getElementById('myChart').getContext('2d');
var fontSize = 12;
var year = new Date().getFullYear()
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Leden', 'Únor', 'Březen', 'Duben', 'Květen', 'Červen', 'Červenec', 'Srpen', 'Září', 'Říjen', 'Listopad', 'Prosinec'],
        datasets: [
            {% for yr, dataset in  graphdata.items %}
            
            {label: {{yr|safe}} + ' - Částka',
            data: [{% for v in dataset.amount %} JSON.parse({{v|safe}}),  {% endfor %}],
            backgroundColor: getRandomColor(),
            hidden: {{yr|safe}} == year ? false: true,
            borderWidth: 1},
            
            {%endfor%}
            {% for yr, dataset in  graphdata.items %}
            
            {label: {{yr|safe}} + ' - Součet',
            data: [{% for v in dataset.total %} JSON.parse({{v|safe}}),  {% endfor %}],
            borderColor: getRandomColor(),
            borderWidth: 3,
            type: 'line',
            lineTension: 0,
            borderJoinStyle: "round",
            hidden: {{yr|safe}} == year ? false: true,
            fill: false},
            
            {%endfor%}
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    fontSize:fontSize,
                    fontStyle: "bold",
                }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero: true,
                    fontSize:fontSize,
                    fontStyle: "bold",
                }
            }],

        },
        legend: {
                labels: {
                fontSize:fontSize,
                fontStyle: "bold",
                }
            },
        tooltips:{
                bodyFontSize:fontSize,
                fontStyle: "bold",
        },
        responsive: true,
        maintainAspectRatio: false,
        devicePixelRatio:2,

    }
});
function printPage(val, type){
        window.open('/print/?sign='+ val + '&asset='+ type)
      }
</script>
<script src="{% static 'js/mailCopy.js' %}"></script>
{% endblock %}
