{% extends "../base/base.html" %}
{% load static %}{% load custom_truncate %} {% load l10n %}

{% block style %}
<link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/dash.css' %}"
    />
{% endblock %}

{% block title %}
    Invoice Factory
{% endblock %}

{% block content %}
<div>
<nav
        class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between px-5 py-3"
      >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-brand d-none d-lg-block d-print-none">
            <a href="/dash">
              <svg height="40" width="40" style=" fill: white; stroke:white;">
                {{logo|safe}}
              </svg>
            </a> 
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" href="/invoices"
                >Faktury</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" href="/advance"
                >Zálohy</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-bold" href="/recipient"
                >Odběratelé</a
              >
            </li>
            <li class="nav-item dropdown font-weight-bold">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nový
              </a>
              <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/invoices/create">Faktura</a>
                <a class="dropdown-item" href="/advance/create">Záloha</a>
                <a class="dropdown-item" href="/recipient/create">Odběratel</a>
              </div>
            </li>
            <li class="nav-item dropdown font-weight-bold">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fomuláře
              </a>
              <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" onclick=printPage(0,"invoice")> 
                    <img src="{% static 'ico/baseline_picture_as_pdf_black_18dp.png' %}" alt=""> Faktura
                </a> 
                <a class="dropdown-item" href="#" onclick=printPage(0,"advance")> 
                     <img src="{% static 'ico/baseline_picture_as_pdf_black_18dp.png' %}" alt=""> Záloha
                </a> 
              </div>
            </li>
          </ul>
          <ul class="navbar-nav">
            
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nastavení
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item disabled" href="#">{{profile.name}}</a>
                <div class="dropdown-divider"></div>
                <a class=" mx-2 dropdown-item" href="/users/edit/{{profile.id}}">Profil</a>
                <div class="mx-2 dropdown-item custom-control custom-checkbox">
                <form action="../mailcopy/" method='POST' id="mailcopy-form">{% csrf_token %}
                  <input
                  type="checkbox"
                  class="custom-control-input align-self-end "
                  id="mailcopy"
                  name="mailcopy"
                  {% if profile.mailcopy %}
                  value=true
                  checked
                  {% else %}
                  value=false
                  {% endif %}
                  />
                  <label for="mailcopy" class="custom-control-label align-self-start"
                  >Faktury e-mailem <img src="{% static 'ico/baseline_attach_email_black_18dp.png' %}" alt=""></label
                  >
                </form>
                
                </div>

              
              </div>
            
            
            <li class="nav-item">
              <a class="nav-link" href="../logout">Odhlásit se</a>
            </li>
          </ul>
        </div>
      </nav>
</div>
<div>
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} text-center w-50 mx-auto mt-5 fixed-top alert-dismissible fade show" role="alert">
            <p>{{ message }}</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      {% endfor %}
</div>
<div class="container-fluid justify-content-center">
  <div class="row d-flex justify-content-around mt-3">
      <div class='history col-md-8 col-sm-12 '> 
          <ul class='last'>
              <h6>Poslední faktury</h6>
              {% for invoice in data|slice:":3" %}
                <li class='d-flex align-items-center '>
                      <a href="/invoices/detail/{{invoice.id}}" class='w-100'><div class="d-sm-block d-lg-inline"><strong>{{ invoice.iid|unlocalize }}</strong></div> <div class="d-sm-block d-lg-inline">{{ invoice.recipient.surname }} {{ invoice.recipient.name }} </div> <em class="text-secondary">{{ invoice.description|custom_truncate:10 }}</em> <div class="d-sm-block d-flex float-right">{{ invoice.amount }} {{ invoice.currency }}</div></a>
                </li>
              {% endfor %}
          </ul>
      </div>
      <div class='history col-md-3 col-sm-12 d-flex justify-content-center align-items-center'>
          <div class='pt-3'>
              <h6 class="w-100">Průběžný součet {% now "Y" %}</h6>
              <h2 class="display-6 text-center w-100">{{total|safe}} Kč</h2>
          </div> 
      </div>
  </div>
  <div class="row justify-content-around ">
    <div id="chart-container" class="col-md-8 col-sm-12 ">
      <canvas id="myChart" class=""></canvas>
    </div>
    <div  class="col-md-3 col-sm-12 ml-2">
    
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script>
function getRandomColor() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++ ) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }


var ctx = document.getElementById('myChart').getContext('2d');
var fontSize = 12;
var year = new Date().getFullYear()
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Leden', 'Únor', 'Březen', 'Duben', 'Květen', 'Červen', 'Červenec', 'Srpen', 'Září', 'Říjen', 'Listopad', 'Prosinec'],
        datasets: [
            {% for yr, dataset in  graphdata.items %}
            
            {label: {{yr|safe}} + ' - Částka',
            data: [{% for v in dataset.amount %} JSON.parse({{v|safe}}),  {% endfor %}],
            backgroundColor: getRandomColor(),
            hidden: {{yr|safe}} == year ? false: true,
            borderWidth: 1},
            
            {%endfor%}
            {% for yr, dataset in  graphdata.items %}
            
            {label: {{yr|safe}} + ' - Součet',
            data: [{% for v in dataset.total %} JSON.parse({{v|safe}}),  {% endfor %}],
            borderColor: getRandomColor(),
            borderWidth: 3,
            type: 'line',
            lineTension: 0,
            borderJoinStyle: "round",
            hidden: {{yr|safe}} == year ? false: true,
            fill: false},
            
            {%endfor%}
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    fontSize:fontSize,
                    fontStyle: "bold",
                }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero: true,
                    fontSize:fontSize,
                    fontStyle: "bold",
                }
            }],

        },
        legend: {
                labels: {
                fontSize:fontSize,
                fontStyle: "bold",
                }
            },
        tooltips:{
                bodyFontSize:fontSize,
                fontStyle: "bold",
        },
        responsive: true,
        maintainAspectRatio: false,
        devicePixelRatio:2,

    }
});
function printPage(val, type){
        window.open('/print/?sign='+ val + '&asset='+ type)
      }
</script>
<script src="{% static 'js/mailCopy.js' %}"></script>
{% endblock %}
